# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"

fi

# Eger DWM baslamis ise
if [[ $DESKTOP_SESSION == "dwm" ]]; then
#	dwmstatus 2>&1 >/dev/null &
	slstatus 2>&1 >/dev/null &
	~/.fehbg &
	picom --config ~/.config/picom.conf --daemon &
#	xset led named 'Scroll Lock' &
	~/.config/conky/restart-conky.sh &	
fi	

# Genel oto-başlat komutları
numlockx on &

